<div class="container-fluid" ng-style="{ 'background-color': config.background }">
  <form ng-show="config.showpanel">
    <select ng-options="font for font in fonts" ng-model="config.currentFont"></select>
    <input type="text" ng-model="config.target">
    <input type="color" ng-model="config.background">
    <input type="color" ng-model="config.color1">
    <input type="color" ng-model="config.color2">
    <div style="color: white">{{ config | json }}</div>
  </form>
  <div ng-style="{ 'font-family' : config.currentFont }" class="jumbotron countdown" ng-click="configpanel()">
    <h1><span ng-style="{ 'color': config.color1 }" class="blue">{{ (duration.days()*24 + duration.hours()) | numberFixedLen:2}}:{{duration.minutes() | numberFixedLen:2}}:</span><span>{{duration.seconds() | numberFixedLen:2}}</span><span ng-style="{ 'color': config.color2 }" class="milli">{{duration.milliseconds() | numberFixedLen:3}}</span></h1>
  </div>
</div>
